.card{
    width: 256px;
    height: 294px;
    background-color: var(--gray2-cards);
}

.informacoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: white;
}

.informacoes h2{
    font-weight: bold;
    font-size: var(--text-md);
}

.informacoes p{
    color: var(--gray5-text-apolo);
    font-size: var(--text-sm);
}