* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--roboto)
}

:root {
  --green: #00875f;
  --green-light: #00b37e;
  --gray1-background: #121214;
  --gray2-cards: #202024;
  --gray3-divider: #323238;
  --gray4-placeholder: #7c7c8a;
  --gray5-text-apolo: #8d8d99;
  --gray6-text: #c4c4cc;
  --gray7-titles: #e1e1e6;
  --red-danger: #f75a68;

  --roboto: "Roboto", sans-serif;
  /*  font-size line-height font-family */
  --text-xs: 12px/160% var(--roboto);
  --text-sm: 14px/160% var(--roboto);
  --text-md: 16px/160% var(--roboto);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: var(--gray3-divider);
}

.logo {
  width: 208.07px;
  height: 60.76px;
}
